<div class="alerts-card">
  <div class="alerts-title">
    <span>⌁</span>
    <h2>{{ 'dashboard.liveAlerts.title' | translate }}</h2>
  </div>

  <table>
    <thead>
    <tr>
      <th>{{ 'dashboard.liveAlerts.alertId' | translate }}</th>
      <th>{{ 'dashboard.liveAlerts.level' | translate }}</th>
      <th>{{ 'dashboard.liveAlerts.category' | translate }}</th>
      <th>{{ 'dashboard.liveAlerts.involved' | translate }}</th>
      <th>{{ 'dashboard.liveAlerts.routeTime' | translate }}</th>
      <th>{{ 'dashboard.liveAlerts.action' | translate }}</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let alert of recentAlerts">
      <td>
        <strong>{{ alert.alertCode }}</strong>
      </td>

      <td>
          <span
            class="badge"
            [class.badge-red]="alert.severity === 'high'"
            [class.badge-yellow]="alert.severity === 'medium'"
            [class.badge-green]="alert.severity === 'low'"
          >
            {{ getSeverityKey(alert.severity) | translate }}
          </span>
      </td>

      <td>
        <strong>{{ alert.category }}</strong>
      </td>

      <td>
        <strong>{{ alert.driverName }}</strong>
        <span>{{ alert.vehicleType }} - {{ alert.vehicleCode }}</span>
      </td>

      <td>
        <strong>{{ alert.route }}</strong>
        <span>{{ alert.time }}</span>
      </td>

      <td>
        <button
          class="action-btn"
          [class.resolved]="alert.status !== 'active'"
        >
          {{
            alert.status === 'active'
              ? ('dashboard.liveAlerts.attend' | translate)
              : ('dashboard.liveAlerts.resolved' | translate)
          }}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
