<div class="control-page">
  <ng-container *ngIf="summary$ | async as s">
    <app-dashboard-stats [summary]="s"></app-dashboard-stats>

    <div class="middle-grid">
      <app-dashboard-trend
        [trend]="s.trend"
        [alertTrendPath]="s.alertTrendPath"
        [incidentTrendPath]="s.incidentTrendPath"
      ></app-dashboard-trend>

      <app-dashboard-risk-drivers
        [riskDrivers]="s.topRiskDrivers"
      ></app-dashboard-risk-drivers>
    </div>

    <app-dashboard-recent-alerts
      [recentAlerts]="s.recentAlerts"
    ></app-dashboard-recent-alerts>
  </ng-container>
</div>
