@import './material-theme.scss'; /* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-with-spacing {
    margin: 10px; /* Applies margin to all sides */
}

/* Contener z-indexes de Leaflet dentro del map container */
.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 400 !important;
}

.leaflet-control {
  z-index: 800 !important;
}
